<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>100</string>
				<key>PointY</key>
				<string>100</string>
			</dict>
			<dict>
				<key>PointX</key>
				<string>200</string>
				<key>PointY</key>
				<string>200</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car01.jpg</string>
	</dict>
	<key>10</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>260</string>
				<key>PointY</key>
				<string>130</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car10.jpg</string>
	</dict>
	<key>11</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>130</string>
				<key>PointY</key>
				<string>260</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car11.jpg</string>
	</dict>
	<key>12</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>240</string>
				<key>PointY</key>
				<string>120</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car12.jpg</string>
	</dict>
	<key>13</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>120</string>
				<key>PointY</key>
				<string>240</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car13.jpg</string>
	</dict>
	<key>14</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>260</string>
				<key>PointY</key>
				<string>260</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car14.jpg</string>
	</dict>
	<key>15</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>130</string>
				<key>PointY</key>
				<string>130</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car15.jpg</string>
	</dict>
	<key>16</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>240</string>
				<key>PointY</key>
				<string>240</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car16.jpg</string>
	</dict>
	<key>17</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>120</string>
				<key>PointY</key>
				<string>120</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car17.jpg</string>
	</dict>
	<key>18</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>110</string>
				<key>PointY</key>
				<string>110</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car18.jpg</string>
	</dict>
	<key>19</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>220</string>
				<key>PointY</key>
				<string>220</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car19.jpg</string>
	</dict>
	<key>2</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>200</string>
				<key>PointY</key>
				<string>100</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car02.jpg</string>
	</dict>
	<key>20</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>110</string>
				<key>PointY</key>
				<string>220</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car20.jpg</string>
	</dict>
	<key>21</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>220</string>
				<key>PointY</key>
				<string>110</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car21.jpg</string>
	</dict>
	<key>22</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>140</string>
				<key>PointY</key>
				<string>140</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car22.jpg</string>
	</dict>
	<key>23</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>280</string>
				<key>PointY</key>
				<string>280</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car23.jpg</string>
	</dict>
	<key>24</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>140</string>
				<key>PointY</key>
				<string>280</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car24.jpg</string>
	</dict>
	<key>25</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>280</string>
				<key>PointY</key>
				<string>140</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car25.jpg</string>
	</dict>
	<key>26</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>150</string>
				<key>PointY</key>
				<string>300</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car26.jpg</string>
	</dict>
	<key>27</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>300</string>
				<key>PointY</key>
				<string>150</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car27.jpg</string>
	</dict>
	<key>28</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>300</string>
				<key>PointY</key>
				<string>300</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car28.jpg</string>
	</dict>
	<key>29</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>50</string>
				<key>PointY</key>
				<string>100</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car29.jpg</string>
	</dict>
	<key>3</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>100</string>
				<key>PointY</key>
				<string>200</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car03.jpg</string>
	</dict>
	<key>30</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>100</string>
				<key>PointY</key>
				<string>50</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car30.jpg</string>
	</dict>
	<key>31</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>60</string>
				<key>PointY</key>
				<string>60</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car31.jpg</string>
	</dict>
	<key>32</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>60</string>
				<key>PointY</key>
				<string>120</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car32.jpg</string>
	</dict>
	<key>33</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>120</string>
				<key>PointY</key>
				<string>60</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car33.jpg</string>
	</dict>
	<key>34</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>70</string>
				<key>PointY</key>
				<string>70</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car34.jpg</string>
	</dict>
	<key>35</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>70</string>
				<key>PointY</key>
				<string>140</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car35.jpg</string>
	</dict>
	<key>36</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>140</string>
				<key>PointY</key>
				<string>70</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car36.jpg</string>
	</dict>
	<key>4</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>200</string>
				<key>PointY</key>
				<string>200</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car04.jpg</string>
	</dict>
	<key>5</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>100</string>
				<key>PointY</key>
				<string>100</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car05.jpg</string>
	</dict>
	<key>6</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>150</string>
				<key>PointY</key>
				<string>150</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car06.jpg</string>
	</dict>
	<key>7</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>250</string>
				<key>PointY</key>
				<string>250</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car07.jpg</string>
	</dict>
	<key>8</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>150</string>
				<key>PointY</key>
				<string>250</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car08.jpg</string>
	</dict>
	<key>9</key>
	<dict>
		<key>Button</key>
		<array>
			<dict>
				<key>PointX</key>
				<string>250</string>
				<key>PointY</key>
				<string>150</string>
			</dict>
		</array>
		<key>Picture</key>
		<string>img_car09.jpg</string>
	</dict>
</dict>
</plist>
